.list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  background-color: var(--color-bg-light);
  height: 40vh;
  overflow-y: scroll;
}

.list.dark {
  background-color: var(--color-lightDarkBlue);
}
