* {
  box-sizing: border-box;
}

.profile {
  margin-bottom: 1rem;
  width: 300px;
  padding: 1rem;
  text-align: center;
  background-color: #ebebeb;
  box-shadow: 5px 10px 34px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 10px 34px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 10px 34px -8px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.avartar {
  position: relative;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.new {
  position: absolute;
  top: 10%;
  right: 10%;
  background-color: aquamarine;
  padding: 0.2rem 1rem;
  font-weight: 700;
  border-radius: 20px;
}
