:root {
  /* color */
  --color-main: #ef6c00;
  --color-point: #e0e0e0;
  --color-white: #ffffff;
  --color-bg-light: #ffffff;
  --color-bg: #f4f4f4;
  --color-darkGrey: #37474f;
  --color-font: #37474f;
}

html.dark {
  --color-bg: #020628;
  --color-bg-light: #13193f;
  --color-font: #ffffff;
}

body {
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;
  background-color: var(--color-darkGrey);
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  box-shadow: 16px 14px 5px -5px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 16px 14px 5px -5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 16px 14px 5px -5px rgba(0, 0, 0, 0.12);
  min-width: 400px;
  overflow: hidden;
  border-radius: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
