.form {
  padding: 1rem;
  background-color: var(--color-brightGrey);
  display: flex;
}

.input {
  flex: 1 0 auto;
  padding: 1.1rem;
  border: 0;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 10px 0 0 10px;
}

.button {
  padding: 0.6rem 1rem;
  border: 0;
  background-color: var(--color-orange);
  color: var(--color-white);
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  font-size: 1.4rem;
}

.wrapper button:hover {
  opacity: 0.8;
}
